:root {
  --header-font: 32px;
  --reg-font: 20px;
  --bold: 700;
  --reg: 400;
  --light: 200;
  --shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  --glass: rgba(255, 255, 255, 0.4);
  --background-color: rgba(0, 0, 0);
}